export(fit_ipd)
export(fit_ipd_ad)
export(reproduce_sim2_benchmark)
export(reproduce_sim2_ipdad)
S3method(print, bayesmetaipd_fit)
importFrom(MCMCpack, riwish)
importFrom(mvtnorm, dmvnorm)
importFrom(mvtnorm, rmvnorm)
importFrom(stats, dnorm)
importFrom(stats, optim)
importFrom(stats, rnorm)
importFrom(stats, runif)
importFrom(stats, var)
importFrom(utils, data)
